[General]
Working Directory: /home/HomeBroadcaster
Stream Directory: /var/www/html/tv
Log Level: DEBUG

[Shows]
Show One: /media/folder/location
Other Show: /media/other/location
That Show: /media/that/location

[Channel One]
Shows: Show One, Other Show

[That Channel]
Shows: That Show
